* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Website Navigation Section */

.nav-container {
    padding: 16px 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-container .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    text-align: center;
}

.nav-container .menu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav-container button {
    background-color: #469165;
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    cursor: pointer;

}

.nav-container button:hover {
    background-color: #095624;
    transition: all 0.5s ease-in-out;
}

.nav-container .nav-btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.menu a:hover {
    color: #469165;
    transition: all 0.5s ease-in-out;
    box-shadow: 1px 1px 15px 1px rgba(70, 145, 101, 0.2);
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
}

/* Website Home Section */


.content {
    background: url(hero-bg.png);
    width: auto;
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 120px 120px 120px 120px;
}

.home-content {
    align-items: center;
}

.home-content-head-text {
    display: inline-block;
    background: #ffffff;
    padding: 6px 16px;
    border-radius: 50px;
    font-weight: 500;
    color: #2a8c4a;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    justify-content: center;
}
.home-content-head-text img{
    width: 15px;
    height: 15px;
    
}

.content .content-h {
    margin-top: 16px;
}

.content .content-h h1 {
    font-size: 72px;
    font-weight: bold;
}

.content .content-h .h1-1 {
    color: #ffffff;
}

.content .content-h .h1-2 {
    color: #30B868;
}

.content-home-p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.content-home-button {
    gap: 16px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

/* button 1 */


.home-content-button-1 {
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    border: 1px solid #469165;
    background-color: #469165;
    border-radius: 8px;

}

.home-content-button-1 a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    padding: 16px 12px;
    text-decoration: none;
    gap: 10px;
}
.home-content-button-1:hover {
    background-color: #095624;
    transition: all 0.5s ease-in-out;
}

.home-content-button-1 img {
    width: 16px;
    height: 16px;
}


/* button 2 */


.home-content-button-2 {
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    border: 1px solid #ffffff;
    background-color: #ffffff00;
    border-radius: 8px;

}

.home-content-button-2 a {
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    padding: 16px 12px;
    text-decoration: none;
    gap: 10px;
}
.home-content-button-2:hover {
    background-color: #095624;
    transition: all 0.5s ease-in-out;
    color: #ffffff;
}
.home-content-button-2 img {
    width: 16px;
    height: 16px;
    box-shadow: 10px 10px 20px 0px rgba(255, 255, 255, 0.2);
}

/* Website Notes Section */
#notes {
    padding: 0px 120px 120px 120px;
    align-items: center;
    text-align: center;
}

.heading h1 {
    font-size: 48px;
    font-weight: bold;
    /* height: 160px; */
    padding-top: 100px;
}

#notes p {
    color: #627382;
    margin-top: 16px;
}

.notes-content {
    display: flex;
    margin-top: 44px;
    gap: 24px;
}

.Box {
    /* border: 1px solid black; */
    padding: 24px 24px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(40, 33, 33, 0.112);
    border-radius: 8px;
}

.Box:hover {
    box-shadow: 0px 6px 30px 0px rgba(40, 33, 33, 0.2);
    transition: all 0.5s ease-in-out, ease-in-out;
}

.notes-content .Box img {
    background-color: #F95555;
    padding: 13px;
    border-radius: 50px;
}

.notes-content .box h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

.notes-content .box p {
    font-size: 16px;
    font-weight: 400;
}



/* website Solutions section */


#solution {
    padding: 0px 120px 120px 120px;
}

.solution-container {
    display: flex;
    gap: 60px;

}

.solution-image {
    height: 600px;
    width: 600px;
}

.solution-content {
    padding-top: 102px;
    padding-bottom: 102px;
    padding-left: 60px;
}

.solution-content h4 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

.solution-content h1 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.solution-content p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.solution-content-list {
    list-style: none;
    margin-top: 40px;
}

.solution-content-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
}

.solution-content-list li img {
    width: 20px;
    height: 20px;
}


/* Website early-Access section */

#early-Access {
    padding-top: 80px;
    padding-bottom: 80px;
    align-items: center;
    text-align: center;
    background-color: #F7F6F2;
    margin: 0px 120px 120px 120px;
    border-radius: 12px;
}

#early-Access .early-data h1 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}

#early-Access .early-data p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.early-access {
    flex-direction: column;
    margin-top: 24px;
}

.early-btn {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background-color: #469165;
    color: #ffffff;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;

}

.early-btn img {
    width: 16px;
    height: 16px;
}

.early-btn:hover {
    background-color: #095624;
}

.early-text {
    font-size: 14px;
    color: #6b7280;
    margin-top: 16px;
}



/* website Footer Sections */


#footer {
    width: 100%;
    background: #001931;
    color: #fff;
    padding: 120px 120px 30px 120px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

#footer .content-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    width: 90%;
}

.footer-social h4 {
    margin-bottom: 10px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.social-icons {
    margin-top: 16px;
}

.social-icons a {
    gap: 16px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: #001931;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
    background-color: #ffffff;
    margin-right: 3px;
    padding: 12px;
}

.social-icons a:hover {
    background: #217dff;
    border-color: #49a2fc;
    color: #ffffff;
}

#footer hr {
    border: none;
    border-top: 1px solid #E5E7EB;
    margin: 30px;
}

.footer-bottom {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FAFAFA;
}