* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.nav-continer {
    padding: 16px 120px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-continer .manu {
    display: flex;
    list-style: none;
    gap: 32px;
    text-align: center;
}

.nav-continer .manu a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.nav-continer button {
    background-color: #469165;
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    cursor: pointer;

}

.nav-continer .nav-btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.content {
    background: url(hero-bg.png);
    width: auto;
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 120px 120px 120px 120px;
}

.home-content {
    align-items: center;
}

.home-content-head-text {
    display: inline-block;
    background: #ffffff;
    padding: 6px 16px;
    border-radius: 50px;
    font-weight: 500;
    color: #2a8c4a;
    font-size: 16px;
}

.content .content-h {
    margin-top: 16px;
}

.content .content-h h1 {
    font-size: 72px;
    font-weight: bold;
}

.content .content-h .h1-1 {
    color: #ffffff;
}

.content .content-h .h1-2 {
    color: #30B868;
}

.content-home-p {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}

.content-home-button {
    gap: 16px;
    margin-top: 32px;
}

.home-content-button-1 {
    background-color: #469165;
    padding: 16px 12px;
    border-radius: 4px;
    border: #469165;
    border: 2px solid #469165;
    cursor: pointer;
}

.home-content-button-1 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;

}

.home-content-button-2 {
    background-color: #46916500;
    padding: 16px 12px;
    border-radius: 4px;
    border: 2px solid #ffffff;
    cursor: pointer;
}

.home-content-button-2 a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
}

#notes {
    padding: 0px 120px 120px 120px;
    align-items: center;
    text-align: center;
}

.heading h1 {
    font-size: 48px;
    font-weight: bold;
    height: 160px;
    padding-top: 100px;
}
#notes p{
    color: #627382;
    margin-top: 16px;
}

.notes-content {
    display: flex;
    margin-top: 44px;
    gap: 24px;
}

.Box {
    /* border: 1px solid black; */
    padding: 24px 24px;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px rgba(40, 33, 33, 0.112);
    border-radius: 8px;
}

.notes-content .Box img {
    background-color: #F95555;
    padding: 13px;
    border-radius: 50px;
}

.notes-content .box h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

.notes-content .box p {
    font-size: 16px;
    font-weight: 400;
}

#solution {
    padding: 120px 120px 120px 120px;
}

.solution-container {
    display: flex;
    gap: 60px;

}

.solution-image {
    height: 600px;
    width: 600px;
}

.solution-content {
    padding-top: 102px;
    padding-bottom: 102px;
    padding-left: 60px;
}

.solution-content h4 {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
}

.solution-content h1 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.solution-content p {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.solution-content-list {
    list-style: none;
    margin-top: 40px;
}

.solution-content-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.6;
}

.solution-content-list li img {
    width: 20px;
    height: 20px;
}